<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>
    <link rel="stylesheet" href="/static/css/common.css">
    {{template "header-css" .}}
    <link rel="stylesheet" href="/static/css/history.css">
</head>

<body>
    {{template "header" .}}

    <h2 class="date-header"></h2>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Summary</th>
                <th>Tags</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{range .}}
            <tr>
                <td><a href="/{{.Year}}/{{.Month}}/{{.Day}}">
                        {{.Year}}/{{printf "%02d" .Month}}/{{printf "%02d" .Day}}</a>
                </td>
                <td>{{.Summary}}</td>
                <td>
                    {{range .Tags}}
                    <span class="tag">{{.S}}</span>
                    {{end}}
                </td>
                <td>
                    <form action="/delete/{{.ID}}" method="POST">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
</body>

</html>